<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313710503954-3n02f9k6848u5f2lkoaefm5ii33pfivu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313710503954-3n02f9k6848u5f2lkoaefm5ii33pfivu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>313710503954-btinruer28n3s10kjedvoqv73nfu0ssi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_L2dSDWoy3YpkKXClDBjBf8je-z6UTN4</string>
	<key>GCM_SENDER_ID</key>
	<string>313710503954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woofmeets.customer</string>
	<key>PROJECT_ID</key>
	<string>burnished-form-358420</string>
	<key>STORAGE_BUCKET</key>
	<string>burnished-form-358420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313710503954:ios:11fb2906ebf5e860c810cb</string>
</dict>
</plist>